<div class="header has-center">
  <div class="header-icons">
    <img src="assets/icons/icon-128x128.png" alt="Angular Logo">
    <span class="plus">+</span>
    <img src="assets/icons/128x128.png" alt="Logo">
  </div>
  <p class="title">Angular Material 14 - Form Components</p>
  <p class="subtitle">Testing Form Page For Excel Data Filler - V4</p>
</div>

<div class="has-center">
  <ul>
    <li>
      <a routerLink="/example/1" routerLinkActive="active" ariaCurrentWhenActive="page">Example - 1 (Basic Form Components)</a>
    </li>
  </ul>
</div>

<style>
.header-icons {
  display: inline-flex;
}

.plus {
  align-self: center;
  font-size: 35px;
  padding: 22px;
  color: blue;
}
</style>